.current-hero {
  color: white;
  display: flex;
  margin: 0 auto;
}
.heroImg {
  width: 100px;
  height: 100px;
  border-radius: 40%;
}

.hero-info {
  width: 300px;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
}

.description {
  width: 98%;
  max-height: 100%;
  height: 250px;
  min-height: 0;
  color: #dddddd;
  font-weight: lighter;
  line-height: 122%;
  overflow-y: scroll;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5%;
}
.description::-webkit-scrollbar {
  width: 10px;
  border: 1px solid;
  border-radius: 10px;
}
.description::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border: 2px solid;
  border-radius: 10px;
}

.created-by {
  margin-top: 20px;
}

.spells-wrapper {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 20px;
  width: 70%;
}
.spells-wrapper h4 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  line-height: 40px;
}

.hero-spells {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100px;
  width: fit-content;
  font-size: 13px;
  margin: 20px 0 0 20px;
}
.spellImg {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10%;
}

.spell-info {
  margin: 0;
}

.backBtn {
  left: 240px;
  color: white;
  text-align: center;
  width: 50%;
  background: transparent;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid white;
  position: relative;
}

.backBtn:hover {
  background-color: orangered;
  text-decoration: none;
  color: white;
}
