.user-box {
  color: white;
  text-align: center;
}

.form-control{
    text-align: center;
}

button{
    margin-top: 50px;
    margin-bottom: 10px;
}

.alert-login{
  color: red;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 3px;
  margin-top: 20px;
}