.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  margin-bottom: 30px;
}

.navbar--link {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar--link-item {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  font-size: 19px;
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;
  color: white;
}
.navbar--link-item:hover {
  background-color: orangered;
  text-decoration: none;
  border: 2px solid white;
  color: white;
}

.active{
  background-color:orangered;
}

.logoutbutton {
  background: transparent;
}

.welcome-user {
  border: 3px solid;
  padding: 20px;
  position: relative;
  right: 35px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.welcome-guest {
  border: 3px solid;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 20px;
}
