.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  margin-bottom: 30px;
}

.navbar--link {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar--link-item {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  font-size: 19px;
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;
  color: white;
}